<!-- <p id="notice"><%= notice %></p> -->
<!-- <table>
  <thead>
    <tr>
      <th>User</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Type</th>
      <th>Gender</th>
      <th>Email</th>
      <th>Phoneno</th>
      <th>Password</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.user_id %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.type %></td>
        <td><%= user.gender %></td>
        <td><%= user.email %></td>
        <td><%= user.phoneno %></td>
        <td><%= user.password %></td>
        <td><%= user.address %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<br>

<%= link_to 'signup', new_user_path %>
